* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(251, 246, 246);
}
.main {
    padding: 50px;
    margin: 0;
}
.main-container {
    background-color: aliceblue;
    height: 100vh;
}